<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trees</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script>
        let canvasWidth = .7;
    </script>
    <style>
        body { font-family: "Roboto"; font-size: 16pt; padding: 0; margin: 0; }
        .container { width: 100%; height: 100%; position: absolute; overflow: hidden;}
        .parameters { width: 30%; float: left; height: 100%; overflow-y: scroll; border-right: 2px #ddd solid; }
        .render { width: calc(70%-2px); float: left; height: 100%; overflow: hidden; }
        .parameters { font-size: 9pt; }
        canvas { position: absolute; }
        table { width: 100%; border-collapse: collapse; }
        
        td { padding: 8px;  font-size: 9pt; border: 1px #ddd solid; }
        tr { border-bottom: 1px #000 solid; }
        tr:hover { background-color: #eee; }
        input { width: 100%; font-size: 9pt; }
        hr { border-top: 0; border-bottom: 1px #ddd dashed;}
        img { border: 1px #ddd solid; }

    </style>
</head>
<body>
    

    <div class="container">
        <div class="parameters">
            <div id="app">

                <table>
                    <tbody>
                        <tr>
                            <!-- DRAWING SETTINGS -->
                            <td colspan="2"><b>Drawing settings</b></td>
                        </tr>
                        <tr>
                            <td width="60%">Scale ({{ drawingSettings.scale }})<br/><small>Scaling of the canvas.</small></td>
                            <td><input type="range" min="1" max="25" step=".5" v-model.number="drawingSettings.scale"/></td>
                        </tr>
                        <tr>
                            <td width="60%">Position Y ({{ base.y }})<br/><small>Position of the object along the Y-axis.</small></td>
                            <td><input type="range" min="-250" max="250" step="1" v-model.number="base.y"/></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <b>Recursion</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Max depth ({{maxDepth}}) <br/><small>The amount of recursive steps.</small></td>
                            <td><input type="range" min="1" max="12" step="1" v-model.number="maxDepth"/></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <b>Branching</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Branch length ({{branchLength}}) <br/><small>Change the length of the branches.</small></td>
                            <td><input type="range" min="1" max="200" step="1" v-model.number="branchLength"/></td>
                        </tr>
                        <tr>
                            <td>Damping ({{branchDamping}}) <br/><small>Change how much the length is decreased over each recursive step.</small></td>
                            <td><input type="range" min="0.01" max="1" step="0.0025" v-model.number="branchDamping"/></td>
                        </tr>
                        <tr>
                            <td>Angle ({{branchAngle}}) <br/><small>Change the angle of the branches.</small></td>
                            <td><input type="range" min="-3.14159265" max="3.14159265" step="0.01" v-model.number="branchAngle"/></td>
                        </tr>
                        <tr>
                            <td>Branch length stdev ({{branchLengthStdev}}) <br/><small>Standard deviation of the branch length.</small></td>
                            <td><input type="range" min="0" max="600" step="1" v-model.number="branchLengthStdev"/></td>
                        </tr>
                        <tr>
                            <td>Probability distribution (length)<br/><small>Probability distribution used for random branch length.</small></td>
                            <td style="text-align:center">
                                <img style="width: 128px; height: 64px;" src="images/distribution-uniform.png" v-if="branchLengthPDF == 'uniform'"/>
                                <img style="width: 128px; height: 64px;" src="images/distribution-biased.png" v-if="branchLengthPDF == 'biased'"/>
                                <img style="width: 128px; height: 64px;" src="images/distribution-normal.png" v-if="branchLengthPDF == 'normal'"/>
                                <hr/>
                                <select v-model="branchLengthPDF">
                                    <option value="uniform">Uniform</option>
                                    <option value="biased">Biased</option>
                                    <option value="normal">Normal</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Branch angle stdev ({{branchAngleStdev}}) <br/><small>Standard deviation of the branch angle.</small></td>
                            <td><input type="range" min="-3.14159265" max="3.14159265" step="0.01" v-model.number="branchAngleStdev"/></td>
                        </tr>
                        <tr>
                            <td>Probability distribution (angle)<br/><small>Probability distribution used for random branch angle.</small></td>
                            <td style="text-align:center">

                                <img style="width: 128px; height: 64px;" src="images/distribution-uniform.png" v-if="branchAnglePDF == 'uniform'"/>
                                <img style="width: 128px; height: 64px;" src="images/distribution-biased.png" v-if="branchAnglePDF == 'biased'"/>
                                <img style="width: 128px; height: 64px;" src="images/distribution-normal.png" v-if="branchAnglePDF == 'normal'"/>
                                <hr/>
                                <select v-model="branchAnglePDF">
                                    <option value="uniform">Uniform</option>
                                    <option value="biased">Biased</option>
                                    <option value="normal">Normal</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Inverse damping<br/><small>Damp the curve, so it curves less at the root.</small></td>
                            <td><input type="checkbox" v-model.boolean="inverseDamping"/></td>
                        </tr>
                        <tr>
                            <td>Inverse damping factor ({{inverseDampingFactor}})<br/><small>Changes the curve of the inverse damping.</small></td>
                            <td><input type="range" min="0" max="10" step="0.05" v-model.number="inverseDampingFactor"/></td>
                        </tr>
                        <!-- <tr>
                            <td colspan="2"><b>Wind</b> | <small>not implemented</small></td>
                        </tr>
                        <tr>
                            <td>Wind<br/><small>Enable/disable the wind.</small></td>
                            <td><input type="checkbox" v-model.boolean="wind" disabled/></td>
                        </tr>
                        <tr>
                            <td>Noise function<br/><small>The function used to generate the noise.</small></td>
                            <td style="text-align: center;">Perlin noise (2D)<hr/><img style="width: 128px; height: 64px;" src="images/perlin2d-128-64.png"/></td>
                        </tr>
                        <tr>
                            <td>Scale ({{windScale}})<br/><small>The scale of the noise.</small></td>
                            <td><input type="range" min="0" max="100" step="1" v-model.number="windScale" disabled/></td>
                        </tr>
                        <tr>
                            <td>Strength ({{windStrength}})<small><br/>The strength of the noise.</small></td>
                            <td><input type="range" min="0" max="100" step="1" v-model.number="windStrength" disabled/></td>
                        </tr> -->
                        
                    </tbody>
                </table>
        
            </div>
        </div>
        <div class="render">
            <canvas id="canvas"></canvas>
        </div>
    </div>

    <script>

        function Vec2(x,y) {
            this.x=x;
            this.y=y;
            if(this.y == null) this.y=this.x;

            this.toString = function() {
                return this.x + ", " + this.y;
            }
          
            this.add = function(v) {
                return new Vec2(this.x+v.x, this.y+v.y);
            }
            this.subtract = function(v) {
                return new Vec2(this.x-v.x, this.y-v.y);
            }
            this.scale = function(scalar) {
                return new Vec2(scalar*this.x, scalar*this.y);
            }
            this.vmult = function(v) {
                return new Vec2(this.x*v.x, this.y*v.y);
            }
            this.dot = function(v) {
                return this.x*v.x + this.y*v.y;
            }
            this.length = function() {
                return Math.sqrt(this.x*this.x + this.y*this.y);
            }
            this.rotate = function(angle) {
                let c = Math.cos(angle);
                let s = Math.sin(angle);
                return new Vec2( c * this.x + -s * this.y, s * this.x + c * this.y );
            }
            this.distance = function(v) {
                x = this.x-v.x; y = this.y-v.y;
                return Math.sqrt(x*x + y*y);
            }
            this.apply = function(f) {
                return new Vec2(f(this.x), f(this.y));
            }
            this.floor = function() {
                return this.apply(Math.floor);
            }
            this.fract = function() {
                return this.subtract(this.apply(Math.floor));
            }
            this.normal = function() {
                return new Vec2(this.y, -this.x);
            }
            this.normalize = function() {
                var l = this.length();
                return new Vec2(this.x / l, this.y / l);
            }
            this.cross = function(v) {
                return this.length() * v.length () * this.angle(v);
            }
        }

        let canvas = document.getElementById('canvas');
        canvas.width = window.innerWidth * canvasWidth;
        canvas.height = window.innerHeight;
        let ctx = canvas.getContext('2d');

        let drawingSettings = {
            jointSize: 3,
            boneSize: 2,
            scale: 2
        }

        let vMoveTo = function(v) {
            ctx.moveTo(v.x, v.y);
        }

        let vLineTo = function(v) {
            ctx.lineTo(v.x, v.y);
        }

        let vJoint = function(v) {
            ctx.lineWidth = 1;
            ctx.beginPath();
            ctx.arc(v.x, v.y, drawingSettings.jointSize, 0, 2*Math.PI);
            ctx.fill();
            ctx.stroke();
        }

        let vBone = function(v, u) {
            ctx.lineWidth = drawingSettings.boneSize;
            ctx.beginPath();
            vMoveTo(v);
            vLineTo(u);
            ctx.stroke();
        }

        function Bone(jointA, jointB) { 
            this.jointStart = jointA,
            this.jointEnd = jointB
        }

        let seed = 0;
        let random = function() {
            let x = Math.sin(seed++ * 4871452.47) * 87175.89;
            return x - Math.floor(x);
        };

        // Map a value x which is between [a, b] to where it is between
        // the range of [c, d]. This is used to map the probability distribution.
        // The probability has a range of [0, 1] which we map to [-stdev, stdev].
        function map(x, a, b, c, d) {

            // let r1 = b-a;            // find the range of [a,b]
            // let xNorm = (x-b)/r1;    // normalize onto the range of [a,b]
            // let r2 = d-c;            // find the range of [c,d]
            // return xNorm * r2 + d;   // map x to the range of [c,d]

            /// ... is algebraically equivalent to:

            return ( (x-b) * (d-c) + d ) / (b - a);

        }

        let probabilityUniform = function(stdev) {
            return map(random(), 0, 1, -stdev, stdev);
        }

        let probabilityBiased = function(stdev) {
            return map( (random() + random()) / 2, 0, 1, -stdev, stdev);
        }

        let probabilityNormal = function(stdev) {
            let r = 0, samples = 8;
            for(let i=0; i < samples; i++) 
                r += random();
            r /= samples;
            return map(r, 0, 1, -stdev, stdev);
        }

        let branch = function(angle, depth, parent) {

            drawingSettings.jointSize = vue.maxDepth - depth;
            drawingSettings.boneSize = vue.maxDepth - depth;

            if(depth == vue.maxDepth) return;

            // Random branch length...

            let leftRandomBranchLength;
            let rightRandomBranchLength;
            
            if(vue.branchLengthPDF == "normal") {
                leftRandomBranchLength = probabilityNormal( vue.branchLengthStdev );
                rightRandomBranchLength = probabilityNormal( vue.branchLengthStdev );
            }
            if(vue.branchLengthPDF == "biased") {
                leftRandomBranchLength = probabilityBiased( vue.branchLengthStdev );
                rightRandomBranchLength = probabilityBiased( vue.branchLengthStdev );
            }
            if(vue.branchLengthPDF == "uniform") {
                leftRandomBranchLength = probabilityUniform( vue.branchLengthStdev );
                rightRandomBranchLength = probabilityUniform( vue.branchLengthStdev );
            }
     
            let damping = Math.pow( 1 - vue.branchDamping, depth );

            let leftScale = new Vec2(1,1).scale( (vue.branchLength + leftRandomBranchLength) * damping );
            let rightScale = new Vec2(1,1).scale( (vue.branchLength + rightRandomBranchLength) * damping );

            // Random branch angle ...

            let leftRandomBranchAngle;
            let rightRandomBranchAngle;

             if(vue.branchAnglePDF == "normal") {
                leftRandomBranchAngle = probabilityNormal( vue.branchAngleStdev );
                rightRandomBranchAngle = probabilityNormal( vue.branchAngleStdev );
            }
            if(vue.branchAnglePDF == "biased") {
                leftRandomBranchAngle = probabilityBiased( vue.branchAngleStdev );
                rightRandomBranchAngle = probabilityBiased( vue.branchAngleStdev );
            }
            if(vue.branchAnglePDF == "uniform") {
                leftRandomBranchAngle = probabilityUniform( vue.branchAngleStdev );
                rightRandomBranchAngle = probabilityUniform( vue.branchAngleStdev );
            }      

            if(vue.inverseDamping) {
                let inverseDamping = Math.pow( vue.branchDamping, vue.maxDepth - depth - vue.inverseDampingFactor );
                leftRandomBranchAngle *= inverseDamping;
                rightRandomBranchAngle *=  inverseDamping;
            }

            let leftAngle = angle + vue.branchAngle + leftRandomBranchAngle;
            let rightAngle = angle - vue.branchAngle + rightRandomBranchAngle;

            let L = up.rotate(leftAngle).vmult(leftScale).add(parent);
            let R = up.rotate(rightAngle).vmult(rightScale).add(parent);

            vBone(parent, L);
            vBone(parent, R);

            vJoint(L);
            vJoint(R);

            branch(leftAngle, depth+1, L);
            branch(rightAngle, depth+1, R);
            
        }

        let base = new Vec2(0, -150);
        let up = new Vec2(0, 1);

        let drawModel = function () {

            seed = 0;
            ctx.save();
            ctx.translate(canvas.width/2, canvas.height/2);
            ctx.scale(drawingSettings.scale, drawingSettings.scale);

            ctx.strokeStyle = "#000";
            ctx.fillStyle = "#ddd";

            vJoint(base);
            branch(0, 0, base);

            ctx.restore();
        }

        let vue = new Vue({
            el: "#app",
            data: {
                drawingSettings: drawingSettings,
                maxDepth: 8,
                branchAngle: 0.428,
                branchDamping: .165,
                branchLength: 46,
                base: base,
                branchLengthStdev: 115,
                branchLengthPDF: 'normal',
                branchAngleStdev: 0.468,
                branchAnglePDF: 'normal',
                wind: false,
                windScale: 1,
                windStrength: 1,
                inverseDamping: false,
                inverseDampingFactor: 2
            }
        });

        // Flip the canvas (origin in the lower left corner)
        ctx.translate(0, canvas.height);
        ctx.scale(1,-1);

        let animate = function() {
            requestAnimationFrame(animate);
            ctx.fillStyle = "#fff";
            ctx.fillRect(-canvas.width, canvas.height, Math.max(drawingSettings.scale, 2) * canvas.width, -Math.max(drawingSettings.scale, 2) * canvas.height);
            drawModel();   
        }

        animate(); 

    </script>
</body>
</html>